.home {
  position: relative;
  background-image: url("../images/japanmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
}

.home::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.hometext {
  font-size: 1.5em;
  text-align: center;
  padding: 25%;
  line-height: 200%;
  font-weight: bold;
  z-index: 0;
}

.maintext {
  font-size: 5em;
  font-family: 'Kosugi Maru',
    sans-serif;
  color: brown;
  line-height: 200%;
}

@media screen and (max-width: 768px) {

  .home {
    position: relative;
    background-image: url("../images/japanmap.png");
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 95vh;
    z-index: 0;
  }

  .home::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
  }

  .hometext {
    font-size: 17px;
    text-align: center;
    padding: 20%;
    line-height: 250%;
    font-weight: bold;
    z-index: 0;
  }

  .maintext {
    font-size: 2.5em;
    font-family: 'Kosugi Maru',
      sans-serif;
    color: brown;
    line-height: 150%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 480px) {

  .home {
    position: relative;
    background-image: url("../images/japanmap.png");
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 95vh;
    z-index: 0;
  }

  .home::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
  }

  .hometext {
    font-size: 17px;
    text-align: center;
    padding: 20%;
    line-height: 250%;
    font-weight: bold;
    z-index: 0;
  }

  .maintext {
    font-size: 2.5em;
    font-family: 'Kosugi Maru',
      sans-serif;
    color: brown;
    line-height: 150%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}